@{ 
    //Layout = null;
}
<div class="main_div">
    <h1 class="main_h1">
        <p><strong>哉煙煙民宿</strong></p>
    </h1>

    <h4 class="main_h4">
        <p>Feel Like At Home</p>
    </h4>

    <div class="main_content">
        <p>卸下工作的重擔，放鬆心靈，慵懶地躺在白淨柔軟的床上，向窗外看去，我們在翠綠的田邊，</p>
        <p>能清楚看見擁翠的山脈，凝聽火車輕聲鳴笛經過。花蓮黏人的土，歡迎您。</p>
        <p>&nbsp;</p>
        <p>哉煙煙裡盡是我們的用心和堅持，過程雖然辛苦，但我們相信堅持絕對可以成就經典。</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
    </div>
</div>



