@{
   // Layout = null;
}
<div class="rooms_main">
    <div class="col-md-12 col-sm-12 rooms_title">
        <h2>ROOM</h2>
        <h3>爸爸的老件收藏+女兒的異國魂</h3>
    </div>


    <div class="room_tab">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <img src="~/IMG/room_1.png" class="auto img-responsive center-block" alt="">
                </div>
                <div class="text col-md-6 col-sm-6">
                    <h3 class="room_title"><strong>園景雙人房</strong> 小森林</h3>

                    <p class="room_price">定價5000 平日2500</p>
                    <p class="room_price">暑平日2700 假日2800</p>
                    <p class="room_content">小森林-</p>
                    <p class="room_content">床頭有著高低不一的小山，明亮繽紛充滿童趣。適合少女和親子入住。</p>
                    <br />
                    <p class="room_content">極冷膠King Size 雙人床、43吋液晶電視、</p>
                    <p class="room_content">MOD、Mini Bar、乾濕分離衛浴、Wifi</p>
                </div>
            </div>
        </div>
    </div>

    <div class="room_tab">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <img src="~/IMG/room_2.png" class="auto img-responsive center-block" alt="">
                </div>
                <div class="text col-md-6 col-sm-6">
                    <h3 class="room_title"><strong>精緻雙人房</strong> 香頌/茶煙</h3>
                    <p class="room_price">定價6000平日2900</p>
                    <p class="room_price">暑平日3100 假日3200</p>
                    <p class="room_content">法式香頌-</p>
                    <p class="room_content">白色系高雅雙人房，進來這時間彷彿都慢了下</p>
                    <p class="room_content">來。</p>
                    <br />
                    <p class="room_content">極冷膠King Size 雙人床、43吋液晶電視、</p>
                    <p class="room_content">MOD、Mini Bar、乾濕分離衛浴、Wifi</p>
                </div>
            </div>
        </div>
    </div>

    <div class="room_tab">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 tab3-img">
                    <img src="~/IMG/room_3.png" class="auto img-responsive center-block" alt="">
                </div>
                <div class="text col-md-6 col-sm-6">
                    <h3 class="room_title"><strong>山景雙人房</strong> 頑童/蘭納</h3>
                    <p class="room_price">定價6000平日2900</p>
                    <p class="room_price">暑平日3100 假日3200</p>
                    <p class="room_content">老頑童的蒐藏，充滿復古和手工味</p>
                    <p class="room_content">藍那是清邁的古名，裡面有許多從清邁背回來的</p>
                    <p class="room_content">特色蒐藏。</p>
                    <br />
                    <p class="room_content">極冷膠King Size 雙人床、43吋液晶電視、</p>
                    <p class="room_content">MOD、Mini Bar、乾濕分離衛浴、Wifi</p>
                </div>
            </div>
        </div>
    </div>

    <div class="room_tab">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <img src="~/IMG/room_4.png" class="auto img-responsive center-block" alt="">
                </div>
                <div class="text col-md-6 col-sm-6">
                    <h3 class="room_title"><strong>北非四人房</strong></h3>
                    <p class="room_price">定價8000 平日4500</p>
                    <p class="room_price">暑平日4800 假日5400</p>
                    <p class="room_content">北非花園 -</p>
                    <p class="room_content">有著慵懶紗幔的濃烈異國風格，飄窗區可以看見</p>
                    <p class="room_content">美麗的山景。</p>
                    <br />
                    <p class="room_content">極冷膠King Size 雙人床、43吋液晶電視、</p>
                    <p class="room_content">MOD、Mini Bar、浴缸、Wifi</p>
                </div>
            </div>
        </div>
    </div>

    <div class="room_tab">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 tab5-img">
                    <img src="~/IMG/room_5.png" class="auto img-responsive center-block" alt="">
                </div>
                <div class="text col-md-6 col-sm-6">
                    <h3 class="room_title"><strong>北歐四人房</strong></h3>
                    <p class="room_price">定價8000 平日4500</p>
                    <p class="room_price">暑平日4800 假日5400</p>
                    <p class="room_content">盡情翻滾 -</p>
                    <p class="room_content">明亮柔和的色調，屬於親子和友誼感動空間。飄</p>
                    <p class="room_content">窗區可以看見美麗的山景。</p>
                    <br />
                    <p class="room_content">極冷膠King Size 雙人床、43吋液晶電視、</p>
                    <p class="room_content">MOD、Mini Bar、浴缸、Wifi</p>
                </div>
            </div>
        </div>
    </div>
</div>
